.signup {
  padding: 100px;
  position: relative;
  padding-right: 100px;
}


.login-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;

}

.member_typecheckbox {
  padding-top: 10px;

}
