<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .parallax {
    /* The image used */
    background-image: url("../../assets/images/candy-apples.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="parallax">
  <div class="centerlogo">
    <img src="../../assets/images/durham_fair_grunge.png" length="600px" width="600px" align="center center">
  </div>
</div>
<div class="volforfair">
<h1 align="center">Volunteer at the 2020 Durham Fair</h1>
<h4 align="center">The Durham Fair is ALWAYS looking for great volunteers to join our organization. We are 100%
  volunteer run and need your help and participation to keep the Durham
  Fair tradition strong for many years to come. </h4>
</div>
<mat-accordion *ngFor="let vol of getOps()">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
    <mat-panel-title>{{vol.opname}}</mat-panel-title>
    <mat-panel-description>{{vol.description}}</mat-panel-description>
    </mat-expansion-panel-header>
    <h4>Perks: {{vol.perks}}</h4>
    <h4>Positions: {{vol.positions}}</h4>
    <button mat-button color="primary"  routerLink="/login"  fxFlexAlign.gt-md="right right" >Volunteer</button>
  </mat-expansion-panel>
</mat-accordion>

