.vops {
}


.centerlogo {
  alignment: center;
  padding-top: 5%;
  alignment: center;
  padding-left: 32%;
  padding-right: 20%;

}

.bg {
  background-image: url("../../assets/images/durham_fair_grunge.png");
}


.volforfair {
  allignment: center;
  align: center

}
