<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .parallax {
    /* The image used */
    background-image: url("../../assets/images/candy-apples.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<div class="parallax"></div>
<mat-grid-list class="vops" cols="4" rowHeight="2:1">
  <mat-card>
    <div class="vops">
<mat-grid-tile *ngFor="let vops of VolunteerOps">{{vops}}</mat-grid-tile>
    </div>
  </mat-card>
</mat-grid-list>
