@charset "UTF-8";
body>header>nav,
.slideMenu,
body>aside,
.mainContainer>.grid>.col20,
.sticky-wrapper,.rightCol,
body>footer>a,
body>footer>div>div>div,
body>footer>div>div>.jonFenwick
	{display: none}
body>header{float: right;width: 1in}
.brand img{width: 100%;height: auto}

/*----- CORE ELEMENTS -----*/
.clearFloats{clear:both;}
.nobr{white-space: nowrap;}
table{border-collapse:collapse;width:100%;}
td, th{empty-cells:show;padding:.3rem .4rem;vertical-align:top;line-height:1.3em;}
td{vertical-align:top;border-bottom:solid 1px rgba(0, 0, 0, .1);}
th{vertical-align:bottom;border-bottom:solid 1px rgba(0, 0, 0, .2);padding-top: 3em;}
	th strong{font-size: 1.3em}
td:first-child, th:first-child{padding-left:0;}
td:last-child, th:last-child{padding-right:0;}
.wrap td:first-child, .wrap th:first-child{white-space:normal;}
.scheduleTable td:first-child{padding-right:.1em;text-align:right;white-space:nowrap;}
.scheduleTable td:first-child[colspan="3"]{text-align: left;white-space: normal}
.scheduleTable td:first-child[colspan="2"]{text-align: center}
.scheduleTable td:first-child+td{padding-left:0;}

.exhibitTable{font-size: 8pt}
.exhibitTable thead th{font-size: 1.45em !important}
.exhibitTable thead th+th{font-size: 1em !important}
.exhibitTable th{padding-top: 1.5em;padding-bottom: .1rem;text-align: center}
.exhibitTable th:first-child{font-weight:400;font-size: 1.35em;text-align: left}
.exhibitTable td {padding-top:.1rem;padding-bottom: .1rem}
.exhibitTable td:first-child{padding-left:1em}
.exhibitTable td[colspan="5"]{padding-left: 0}
.exhibitTable td+td+td {text-align:center}
.exhibitTable strong{font-weight: 300;font-style: italic}
.exhibitTable td strong small,.exhibitTable th small{line-height: 1.1;display: inline-block;font-style: italic}

/*--Typography--*/
html,body,.text{font-size:9pt;line-height:1.55}
body, .text, section h2,section section h1, h3, h4, h5, h6, h7, h8, h9,.countdown  div:first-child+div,h1 small{font-family:'Open Sans', sans-serif;font-weight:300}
body, .text, section h2,section section h1, h3, h4, h5, h6, h7, h8, h9, th em{color:#000;}
h1,h2,th strong,.countdown,body>aside,.tiles3 h2,.exhibitTable th:first-child,.exhibitTable thead th{font-family: 'Tinos', serif;font-weight:400;}
body, .text, th{text-align:left}
body>footer{font-style: italic;font-size: 7pt;margin-top: 2rem}

/*Block*/
ul>li{list-style:none;}
p, h1, h2, h3, h4, hr, ul, ol, blockquote, dd, table, .sample,.codeContainer,pre,figure{margin-bottom:1rem;}
dd+dd{margin-top:-1em}
h2, h3, h4, h5, h6, h7, h8, h9{margin-top:2em;}
.textColor, h1, h2, h3, h4, h5, h6, h7, h8, h9, th, dt{color:#000;}
hr{border:0;padding-top:1px;height:0px;margin-top:10px;}
hr, .borderTop{border-top:1px dashed rgba(0, 0, 0, .25);}
main>section,main>.rightCol>section{padding-top:1em;margin:1.5em 0;position:relative;overflow:visible;}
main>.rightCol>section+section{border-top:1px solid #fff;}
p{font-size:1em;widows: 3; orphans: 3}
h1{font-size:1.8em;margin-bottom:1rem;line-height: 1.3em}
	h1 small{font-style:italic;font-size:1rem}
h2, section h1,.blogHome h1{font-size:1.45em;}
h1+h2{margin-top:-.5rem}
h3, section h2, section section h1{color:#000;font-size:1em;font-weight: 400}
h4{font-size:1.1em;}
h5, h6, h7, h8, h9{font-size:1.1em;margin:0px 0px 0px 0px;}
ul,ol{padding: 0;}
main ul>li{;margin-top:3px;padding-left:2em;color:#000;position:relative;}
	main ul>li:before{content:"\2022\00A0";position:absolute;left:1.25em;color:#666;}
ol{margin-left:3em;width: auto !important}
li ul, li ol{margin-bottom:0;}
main ul li ul li{margin-top:3px;color:#333;margin-top:2px;font-size:.92em;line-height:1.4em;}
blockquote{padding:0 2em;}
figcaption{font-style:italic;font-size:.8em;}
figcaption+img{margin-top:1em}

/* Inline */
em, i, cite{font-style: italic;}
b, strong{font-weight:400;color:#000;}
u { text-decoration:none;}
sup, sub { font-size:.6em;line-height:.6em;vertical-align:baseline;position:relative;}
sup {bottom:1ex;}
sub {top:.5ex;}
small{font-size:.8em;line-height:1.2em;}
abbr{border-bottom:1px dotted rgba(0, 0, 0, .25)}
.big{font-size:1.75em;line-height:1.5em}
.twoCol, .threeCol{-webkit-columns:2;-moz-columns:2;columns:2;-webkit-column-gap:3em;-moz-column-gap:3em;column-gap:3em;-webkit-column-rule:1px outset rgba(0,0,0,.1);-moz-column-rule:1px outset rgba(0,0,0,.1);column-rule:1px outset rgba(0,0,0,.1);}
.threeCol, .fourCol{-webkit-columns:3;-moz-columns:3;columns:3;-webkit-column-gap:2em;-moz-column-gap:2em;column-gap:2em;}
.varCol{-webkit-columns:auto;-moz-columns:auto;columns:auto;-webkit-column-width:12em;-moz-column-width:12em;column-width:12em;}
.grid>*>.varCol{width:auto}
.twoCol section,.threeCol li, .twoCol p, .threeCol p,.twoCol article,.varCol>li{display:inline-block;width: 100%;}
main img{max-width:100%;}
.resVideo{height:0;width:100%;padding-top:56.25%;position:relative;}
	.resVideo.fullFrame{padding-top:75%}
	.resVideo iframe{position:absolute;left:0;top:0;height:100%;width:100%;}
main figure{text-align: center}
figure img{max-width: 3in}
